<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amangupta.twittertweetprototype">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="63b36adbaa766f14eac392fc110b62c8104e2f59"
            />
        <meta-data android:name="CONSUMER_KEY" android:value="5RPEwEVYVewvfdqmMrw378Y8Z"/>

        <meta-data android:name="CONSUMER_SECRET" android:value="IKmBYmX6gr9yXnd08TchW6FxCGRl1FsAd21ZGjhC2UMlnRP0Xm"/>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>